.title{
    width: 210px;
    margin-bottom: 10px;
    text-align: center;
    color: blue;
    border: solid black 2px;
}

input[type="button"]{
    width: 100%;
    color: white;
    background-color: black;
    border: solid black 2px;
}

input[type="textbox"]{
    width: 100%;
    background-color: white;
    border: solid black 2px;
} 